{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <form method="GET" action="" class="search-form">
        <input type="text" name="q" placeholder="사용자 검색" value="{{ request.GET.q }}">
        <button type="submit">검색</button>
    </form>
    <a href="{% url 'Pirostagram:post_new' %}" class="new-post-btn">create new post</a>
    <div class="main__container">
        {% for post in posts %}
            <div class="card post__container post-id-{{ post.id }}">
                <div class="card-body">
                    <div class="post__img">
                        <img src="{% static 'img/img_lights.jpg' %}" alt="...">
                    </div>
                    <div class="card-title" >{{ post.title }}</div>
                    <p><span class="post-author"> 작성자: {{ post.author }}</span>
                    <div class="card-content">
                        <div class="card-text">{{ post.content}}</div>
                        <a href="{% url 'Pirostagram:post_detail' post.pk %}" class="more-btn">더보기</a>
                    </div>
                    <div class="card-buttons">
                        <div class="btn btn-primary post__like" onclick="onClickLike({{ post.id }}, 'like')">Like {{ post.like }}</div>
                        <div class="btn btn-primary post__dislike" onclick="onClickLike({{ post.id }}, 'dislike')">Dislike {{ post.dislike }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block extra %}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const onClickLike = async(id, type) => {
        const url = "/like_ajax/";
        const { data } = await axios.post(url, {
            id,
            type,
        });
        likeHandleResponse(data.id, data.type);
    }

    const likeHandleResponse = (id, type) => {
        const element = document.querySelector(`.post-id-${id} .post__${type}`);
        const originHTML = element.innerHTML;
        const [buttonType, num] = originHTML.split(" ");
        const count = Number(num) + 1;

        element.innerHTML = `${buttonType} ${count}`;
    }
</script>
{% endblock %}