{% extends 'base.html' %}

{% block title %}Idea Detail{% endblock %}

{% block content %}
<h1>{{ idea.title }}</h1>
<img src="{{ idea.image.url }}" alt="{{ idea.title }}">
<p>{{ idea.content }}</p>
<p>Interest: {{ idea.interest }}</p>
<p>DevTool: {{ idea.devtool.name }}</p>
<p>Created at: {{ idea.created_at }}</p>
<p>Updated at: {{ idea.updated_at }}</p>

<a href="{% url 'idea_list' %}"><button>목록</button></a>
<a href="{% url 'idea_edit' idea.pk %}"><button>수정</button></a>
<form action="{% url 'idea_delete' idea.pk %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">삭제</button>
</form>
{% endblock %}

